@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.container {
    width: 1000px;
    margin: auto;
}

g.lines path {
    fill: none;
    stroke: rgba(120, 120, 120, 0.7);
    stroke-width: 2px;
    mix-blend-mode: overlay;
}

svg#sankey rect {
    /* fill: rgba(120, 120, 120, 0.7); */
}
svg#sankey path {
    fill: none;
    stroke: rgba(120, 120, 120, 0.4);
}

body {
    font-family: "Lato",sans-serif; 
    font-size: 9pt;
    background: #eee;
}